body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    margin-bottom: 40px;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    color: white;
}

p {
    text-align: center;
    color: white;
    font-size: 18px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(5, 250px);
    gap: 10px;
    justify-content: center;
}

.card {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1; /* Ensure the image is clickable */
}

.card-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 2; /* Ensure text is above the image */
    pointer-events: none; /* Make the text non-interactive */
    transition: opacity 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover .card-text {
    opacity: 1;
}


/* Popup Styles */
.popup-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-image img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* Ensures the image is fully visible */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

@media (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400x) {
    .card-container {
        grid-template-columns: 1fr;
    }
}
