@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Lato&display=swap');

/* Variables */
:root {
  --font-family: "Lato", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #2a2a2a;
  --primary-color: #A2D2FF;
  --secondary-color: #FFAFCC;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --left-margin: 10rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

h2 {
  font-size: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
 
}

nav {
  position: sticky;
  top: 0;
  left: 0; 
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  font-family:"Edu VIC WA NT Beginner", cursive;
  color: var(--prim ary-color);
}

nav h1:hover{
  color: var(--secondary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.home {
  width: 100%;
  height: 25vh;
  background: var(--bg-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.home h2 {
  font-family:"Edu VIC WA NT Beginner", cursive;
  font-size: 60px;
  font-weight: 600;
}

span{
  color: var(--secondary-color);
}

.info {
  background: var(--bg-color);
  margin-top: 2%;
  margin-left: 8%;
  margin-bottom: 0;
  width: auto;
  height: auto;
  position: relative;
}

.info h2 {
  font-size: 45px;
  font-family: var(--font-family);
  color: #fff;
}

.info p {
  font-size: 20px;
  color: #fff;
  margin-bottom: -1%;
}

.info a {
  background: var(--primary-color);
  padding: 8px 7px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.info a:hover{
  background-color: var(--secondary-color);
}

.img-box{
  width: 44%;
  height: 77%;
  position: absolute;
  bottom: 10%;
  right: 100px;
}

.img-box img{
  height: 70%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.img-box:hover .back-img{
  bottom: 40px;
}

.img-box:hover .back-back-img{
  bottom: 40px;
}

.img-box:hover .main-img{
  left: 54%;
}

.social-links{
  margin-left: 8%;
  margin-top: 50px;
}

.social-links a{
  font-size: 30px;
  color: var(--primary-color);
  margin-right: 20px;
}

.social-links a:hover{
  color: var(--secondary-color);
}

/* skills section */

.skills h2 {
  line-height: var(--line-height);
  text-align: center;
  color: #fff;
}
.skills p {
  padding-top: 1rem;
  text-align: center;
  color: #fff;
}
.skills {
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;  
}
.progress-bar {
  background: #959595;
  width: 650px;
  height: 10px;
  border-radius: 5px;
}
.progress-bar div {
  height: 10px;
  border-radius: 5px;
  width: 0%;
}
.progress-bar span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--bg-color);
  float: right;
  margin-top: -15px;
  margin-right: -20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.java {
  background: #FF99C8;
  animation: java 1s linear forwards;
}
.html {
  background: #FCF6BD;
  animation: html 1s linear forwards;
}
.css {
  background: #D0F4DE;
  animation: css 1s linear forwards;
}
.javascript {
  background: #A9DEF9;
  animation: javascript 1s linear forwards;
}
.mysql {
  background: #E4C1F9;
  animation: mysql 1s linear forwards;
}
.java span{
  border: 1px solid #FF99C8;
}
.html span{
  border: 1px solid #FCF6BD;
}
.css span{
  border: 1px solid #D0F4DE;
}
.javascript span{
  border: 1px solid #A9DEF9;
}
.mysql span{
  border: 1px solid #E4C1F9;
}
@keyframes java {
  100%{
    width: 65%
  }  
}
@keyframes html {
  100%{
    width: 30%
  }  
}
@keyframes css {
  100%{
    width: 30%
  }  
}
@keyframes javascript {
  100%{
    width: 10%
  }  
}
@keyframes mysql {
  100%{
    width: 80%
  }  
}

/* project section */

.projects h2 {
  text-align: center;
  color: #fff;
  line-height: var(--line-height);
  margin-bottom: var(--bottom-margin-2);
}

.projects {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex; 
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 100px 0;
}

.timeline{
  width: 85%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul li{
  padding: 20px;
  background-color:#959595;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h3 {
  font-size: 25px;
  font-weight: 500px;
  line-height: 30px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.time-line-content p {
  font-size:16px;
  line-height: 30px;
  font-weight: 300;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .img-box {
    display: none;
  }
}
@media screen and (min-width: 768px) {

  .timeline-container::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #959595;
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative; 
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 30px 0px 30px 30px;

  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 30px 30px 30px;
  }
  .timeline ul li::after {
    content:'';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #959595;
    border-radius: 50%;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after{
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::after{
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline ul li:hover:after{
    background-color: var(--primary-color);
  }
}

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  color: #fff;
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  background-color: #959595;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
  background-color:var(--primary-color);
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
  background-color: var(--bg-color);
  color: #fff;
  padding: 0.5rem;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: #fff;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  color: var(--primary-color);
  transition: var(--transition);
  background-color: var(--bg-color);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: #fff;
}


@media screen and (max-width: 768px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.3s ease-in;
  }
  nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }
  nav ul.show {
    transform: translateX(0);
  }

  .home {
    height: auto;
  }
  .home h2 {
    font-size: 45px;
    padding: 40px 40px; 
  }

  .info h2{
    font-size: 38px;
  }
  .info p {
    font-size: 18px;
  }
  .info a {
    font-size: 12px;
  }

.img-box {
  display: none;
}
.social-links a{
  font-size: 25px;
}

.skills h2 {
  line-height: var(--line-height);
  text-align: center;
  color: #fff;
}

.progress-bar {
  background: #959595;
  width: 500px;
  height: 10px;
  border-radius: 5px;
}

.progress-bar span {
  height: 35px;
  width: 35px;
}
  }